# PUBLIC_HTTP_PORT (true or false) default false
# If false you only accept stellar commands from localhost.
# Do not set to true and expose the port to the open internet. This will allow
#  random people to run stellar commands on your server. (such as `stop`)
PUBLIC_HTTP_PORT=true
HTTP_PORT=11626

# PEER_PORT (Integer) defaults to 11625
# The port other instances of stellar-core can connect to you on.
PEER_PORT=11625

# PostgreSQL DB URL
DATABASE="#DATABASE_URL"

# KNOWN_CURSORS (list of strings) default is empty
# Set of cursors added at each startup with value '1'.
KNOWN_CURSORS=["HORIZON"]

# COMMANDS  (list of strings) default is empty
# List of commands to run on startup.
# Right now only setting log levels really makes sense.
COMMANDS=[
    "ll?level=info&partition=Herder"
]

# A phrase for your network. All nodes should have the same network phrase.
NETWORK_PASSPHRASE="Kinesis UAT"

###########################
# Comma separated peers list
PREFERRED_PEERS=[
    "kau-testnet-syd-node1.kinesisgroup.io:11625",
    "kau-testnet-syd-node2.kinesisgroup.io:11625",
    "kau-testnet-euw-node1.kinesisgroup.io:11625",
    "kau-testnet-euw-node2.kinesisgroup.io:11625"
]

KNOWN_PEERS=[
    "kau-testnet-syd-node1.kinesisgroup.io:11625",
    "kau-testnet-syd-node2.kinesisgroup.io:11625",
    "kau-testnet-euw-node1.kinesisgroup.io:11625",
    "kau-testnet-euw-node2.kinesisgroup.io:11625"
]

[QUORUM_SET]
THRESHOLD_PERCENT=67
VALIDATORS=[
  "GDQ6FQ5L6EJ3HX2E7E57HNIZXDL2VXGQWQX425SPVBZFBUDMXSALBZ5H kau-testnet-syd-node1",
  "GDZJ72KJXFOYQCE7ALS6LEWCIYR7KY4LW72DOESEHNQY2C6E55HKALLX kau-testnet-syd-node2",
  "GCMDPYDATSHKFLJHAINT66O6YRKKAKBCS2FFT2GTZ3Y4NLKLAOEX727T kau-testnet-euw-node1",
  "GDOWMWRXN5XHTZ7TCQK673NL7CEOZOQZI7OU6ILP6K3GJE7ECUTIKCUK kau-testnet-euw-node2"
]

#########################
##  History
[HISTORY.kau-testnet-syd-node1]
get="curl -sf https://kau-testnet-arch-syd-node1.kinesisgroup.io/{0} -o {1}"

[HISTORY.kau-testnet-euw-node1]
get="curl -sf https://kau-testnet-arch-euw-node1.kinesisgroup.io/{0} -o {1}"

## Extra History Archive
# [HISTORY.kau-testnet-syd-node2]
# get="curl -sf https://kau-testnet-arch-syd-node2.kinesisgroup.io/{0} -o {1}"

# [HISTORY.kau-testnet-euw-node2]
# get="curl -sf https://kau-testnet-arch-euw-node2.kinesisgroup.io/{0} -o {1}"
#########################